<div style="background-color: black;">
    <h1 class="text-center mb-5 pt-3 text-light">Memberships</h1>
    <div class="d-inline-flex">
    <div class="container-fluid text-light" style="  justify-content: space-between; width: 100%;">
       
        <div class=" mb-4 d-flex"
            style="height: 100vh; overflow-y: auto; border: solid 2px; border-radius: 15px; max-width: 1800px; max-height: 500px;">
            <div class="list-group p-3 " style="width: 100%; background-color: rgb(44, 44, 44);">
    
                <div class="d-inline-flex align-items-center ">
                    <i class="fa-solid fa-mug-saucer "></i>
                    <p class="ai-end " style="margin-left: 20px;">Monthly Yearly</p>
                </div>
    
                <h2>Standard</h2>
    
                <div class="d-inline-flex align-items-center ">
                    2spot left<i class="fa-solid fa-stopwatch " style="margin-left: 10px;"></i>
                </div>
                <p></p>
                <p></p>
                <p>Experience the Power of Collaboration and Excellence!</p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <div class="d-inline-flex align-items-center ">
                    <h1>$ 2000 </h1>/month
                </div>
                <button class="btn btn-warning " style="border-radius: 80px; transition: background-color 0.3s;">Get started
                    -></button>
            </div>
            <div class="p-3" style="width: 100%; background-color: rgb(23, 23, 23);">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <h1>What's included</h1>
                <p></p>
                <p></p>
                <p></p>
                <ul>
                    <li>One request at a time</li>
                    <li>Average 24 hour delivery</li>
                    <li>Unlimited design requests</li>
                    <li>Unlimited brands</li>
                    <li>Pause or cancel anytime</li>
                    <li>Lightning fast delivery</li>
                </ul>
            </div>
        </div>
    
        <div class=" mb-4 d-flex"
            style="height: 100vh; overflow-y: auto; border: solid 2px; border-radius: 15px; max-width: 1800px; max-height: 500px;">
            <div class="list-group p-3 " style="width: 50%; background-color: rgb(44, 44, 44);">
    
                       <div class="d-inline-flex align-items-center ">
                           <i class="fa-solid fa-heart"></i>
                           <p class="ai-end " style="margin-left: 20px;">Monthly Yearly</p>
                       </div>
       
                       <h2>Pro</h2>
       
                       <div class="d-inline-flex align-items-center ">
                           1spot left<i class="fa-solid fa-stopwatch " style="margin-left: 10px;"></i>
                       </div>
                       <p></p>
                       <p></p>
                       <p>Double the requests. Pause or cancel anytime.</p>
                       <p></p>
                       <p></p>
                       <p></p>
                       <p></p>
                       <div class="d-inline-flex align-items-center ">
                           <h1>$ 5000 </h1>/month
                       </div>
                       <button class="btn btn-warning " style="border-radius: 80px; ;transition: background-color 0.3s;">Get
                           started -></button>
                   </div>
                   <div class="p-3" style="width: 50%; background-color: rgb(23, 23, 23);">
                       <p></p>
                       <p></p>
                       <p></p>
                       <p></p>
                       <h1>What's included</h1>
                       <p></p>
                       <p></p>
                       <p></p>
                       <ul>
                           <li>One request at a time</li>
                           <li>Average 24 hour delivery</li>
                           <li>Unlimited design requests</li>
                           <li>Unlimited brands</li>
                           <li>Pause or cancel anytime</li>
                           <li>Lightning fast delivery</li>
                       </ul>
                   </div>
            </div>
       
        
    
    </div>
    
    
    
        
        <div class="fixed-right col-12 col-md-2 d-flex flex-column justify-content-start text-light p-4 pt-5 bg-dark "
            style="outline: none; top: 0; border: solid 2px; border-radius: 15px; width: 35%; max-width: 1700px; max-height: 500px;">
            <h1 class="text-right">Schedule<br> a talks</h1>
            <p>Interested in a set price? How about a swift
                chat so we can understand your product better
                and provide an exact cost projection.
            </p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <button class="btn btn-light " style=" float: right;border-radius: 80px; transition: background-color 0.3s;">Set Calendar
                -></button>
        </div>
    </div>
    </div>